<h1> Albums </h1>

<ul>
  <% @albums.each do |album| %>
    <li><a href=" <%=album_url(album)%> "</a><%= album.title %> - <%= album.band.name %></li>
  <% end %>
</ul>

<a href=" <%= new_album_url %> ">Create new album</a>
