<h1>Log in!</h1>

<%= render "shared/errors" %>

<form action=" <%= session_url %> " method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">
  <br><br>

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">
  <br><br>

  <input type="submit" name="Login">
</form>
